<!DOCTYPE html>

<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SudokuSolve.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sudokumain.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
</head>
<body>
    <div class="container">
        <h1>Sudoku Solver</h1>
        <form method="post" id="number-input">
            {% csrf_token %}
            <table class="puzzle-container">
                {% for row in puzzle %}
                    <tr class="puzzle-row">
                        {% for col in puzzle %}
                            <td class="puzzle-cell">
                                <input type="text" name="choice" class="puzzle-cell-input" value="{{ choice.id }}" />
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <input id="solve-btn" type="button" value="send to server" />
        </form>
    </div>

</body>
</html>